*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*container*/
.container {
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    background-color: hsl(0deg 0% 91.76%);
    display: block;
    flex-direction: column;
    box-shadow:5px 5px 5px black ;
    
}
/*header*/
.header {
    height: 100px;
    text-align: center;
   
}
/*display*/
.display {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}
/*display-text*/
.display-text {
    font-family:seven segment;font-style:normal;
    font-weight:400;src:local('Seven Segment'),url('https://fonts.cdnfonts.com/s/71640/Seven Segment.woff') format('woff');
    color:hsl(164deg 92.42% 41.37%) ;
    font-size: 40px;
    margin-right: 10px;
}
/*container-button*/
.container-button {
    display: flex;
    flex-direction: row;
}
/*container-button-left*/
.container-button-left {
    width: 50px;
    height: 300px;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    
    
}
/*container-button-rigth */
.container-button-rigth {
    width: 50px;
    height: 300px;
   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*button-number-top*/
.button-number-top {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    
}
/*button-number-bot*/
.button-number-bot {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    
}
/*button-cont*/
.button-cont {
   margin-top: 7px;
   width: calc(100% / 3);
   text-align: center;
   line-height: 50px;
}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow:5px 5px 5px black ;
}
/*button-zero*/
.button-zero {
   flex-grow: 2;

}
/*zero*/
.zero {
    width: 132px;
    margin-left: 12px;
}
/*same*/
.same {
    margin-right: 10px ;
    background-color:hsl(36.49deg 100% 51.96%) ;
}
/*button-operator*/
.button-operator {
    margin-top: 5px;
}

button.orange {
    background-color:hsl(36.49deg 100% 51.96%) ;
}

button.blue {
    background-color:hsl(188.42deg 26.51% 57.84%);
}





